$width: 150px;
$width-large: 420px;
$border-color: #b0b0b0;

.combo {
	*, *::before, *::after { box-sizing: border-box; }
	width: $width;
	position: relative;
	
	&:focus-within {
		width: $width-large;
		div.filter-box {
			/*rtl:ignore*/
			right: $width-large;
		}
		span.x-btn { visibility: visible; }
		svg.filter-btn { visibility: visible; }
	}
	
	.hide  { display: none; }
	.focus { background: #1E90FF; }
	.query { background: #ffffbf; line-height: 1.4; }
	
	> input:first-child {
		position: absolute;
		width: 100%;
		font-family: "Segoe UI";
		/*rtl:ignore*/
		padding-left: 20px; 
		&:valid {
			/*rtl:ignore*/
			padding-left: 35px; // making room for x-btn
		}
		&.uk-input {
			height: initial;
			/*rtl:ignore*/
			padding-right: 5px;
		}
	}
	
	> ul:nth-child(2) {
		position: absolute;
		top: 6px;
		width: 100%;
		height: 80vh;
		overflow-y: scroll;
		border: 1px solid $border-color;
		border-top: none;
		list-style: none;
		padding: 0;
		background: white;
		
		> li {
			/*rtl:ignore*/
			float: right; 
			width: 100%;
			border-width: 0 0 1px;
			border-style: solid;
			border-color: $border-color;
			font-size: 0.9rem;
			color: #444;
			&:last-child { border-bottom: 0; }
			> div {
				/*rtl:ignore*/
				float: right;
			}
			> div:first-child {
				width: 35%;
				/*rtl:ignore*/
				padding-right: 5px;
			}
			> div:nth-child(2) { width: 49%; font-size: 0.8rem; line-height: 1.5rem;  }
			> div:last-child { width: 16%; font-size: 0.7rem; line-height: 1.6rem; color: grey; }
		}
	}
	
	> span.x-btn {
		position: absolute;
		/*rtl:ignore*/
		left: 20px; 
		font-family: initial; // over uk
		user-select: none;
		cursor: pointer;
		visibility: hidden;
	}
	
	> svg.filter-btn {
		position: absolute;
		width: 12px;
		height: 12px;
		top: 6px;
		/*rtl:ignore*/
		left: 5px; 
		cursor: pointer;
		visibility: hidden;
		
		fill: white;
		stroke: black;
		stroke-linejoin: round;
		stroke-width: 5.2px;
	}
	
	> div.filter-box {
		position: absolute;
		top: 0;
		/*rtl:ignore*/
		right: $width;
		width: 380px;
		height: 360px;
		font-size: 0.9rem;
		overflow-y: auto;
		border: 1px solid #e3e3e3;
		background: whitesmoke;
		transition: width 50ms;
		z-index: 1;
		small {
			font-size: 0.67rem;
			color: #b3b3b3;
		}
		
		&.jstree.jstree-default.jstree-rtl .jstree-anchor {
			line-height: 20px;
			> .jstree-themeicon {
				margin-right: -4px;
				margin-left: -2px;
			}
		}
		
		&.slide-off {
			width: 0;
			border-left: none;
			border-right: none;
			overflow: hidden;
		}
	}
}