@use "uikit";
@use "materialize-colors";
@use "combo";

body {
	width: 100%;
	margin: 0 auto;
	font-family: "BYekan", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fffdef;
}


.awesomplete {
	font-family: "BYekan";
	/*rtl:ignore*/
	direction: rtl;
	width: 100%;
	
	> ul:before {
		top: -.23em;
		/*rtl:ignore*/
		right: 1em;
	}
}
.chosen-search-input {
	font-family: "BYekan" !important;
}




#datable {
	.buyrange {
		position: relative;
		width: 65px;
		> input {
			height: 25px;
			position: absolute;
			right: 0;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: 26px;
			}
		}
	}
	
	.date > input {
		width: 35px;
		height: 22px !important;
		padding: 0 !important;
	}

	.w8time > * {
		width: 50px;
	}
}