body {
	width: 100%;
	margin: 0 auto;
	font-family: "BYekan", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	// direction: rtl;
	background: #fffdef;
}

#aweso {
	font-family: "BYekan";
	direction: rtl;
	width: 300px;
}
.awesomplete {
	direction: rtl;
	
	> ul:before {
		top: -.23em;
		right: 1em;
	}
}