@use "uikit";
@use "materialize-colors";
@use "combo";

body {
	width: 100%;
	margin: 0 auto;
	font-family: "BYekan", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fffdef;
}

#datable {
	input {
		@extend .uk-input, .uk-form-small;
		padding: 0 !important;
		height: 22px !important;
	}
	select {
		@extend .uk-select, .uk-form-small;
	}
	
	td:first-child { width: 420px; }
	
	.buyrange {
		position: relative;
		width: 65px;
		> input {
			position: absolute;
			right: 0;
			&:first-child { top: 0; }
			&:last-child { top: 26px; }
		}
	}
	
	.date > input {
		width: 35px;
	}

	.w8time > * {
		width: 50px;
	}
}