node_modules/
package-lock.json
.sass-cache/
.livereload
.rtlcssrc
html/link-modulepreload/*
!html/link-modulepreload/root.htm
html/script-app/*
!html/script-app/root.htm
public/lib/_templates.js
public/lib/_partials.js
public/css/*
public/index.html
public/data/*
release/*