body {
  font-family: "Segoe UI";
}

.combo {
  width: 400px;
  position: relative;
  /* ul:nth-child(4) {
  	position: absolute;
  	top: 5px;
  	width: 100%;
  	height: 200px;
  	overflow-y: scroll;
  	border: 1px solid grey;
  	border-top: none;
  	border-spacing: 0;
  	list-style: none;
  	padding: 0;

  	> li {
  		width: 100%;
  		border-width: 0 0 1px;
  		border-style: solid;
  		border-color: grey;
  		&:last-child { border-bottom: 0; }
  	}
  } */
}
.combo *, .combo *::before, .combo *::after {
  box-sizing: border-box;
}
.combo .focus {
  background: #0080ff;
}
.combo .hide {
  display: none;
}
.combo input {
  position: absolute;
  width: 100%;
}
.combo table:nth-child(4) {
  position: absolute;
  top: 20px;
  width: 100%;
  border: 1px solid grey;
  border-top: none;
  border-spacing: 0;
}
.combo table:nth-child(4) tbody {
  display: block;
  height: 90vh;
  overflow-y: scroll;
}
.combo table:nth-child(4) td {
  font-size: 0.9rem;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: grey;
}
.combo table:nth-child(4) tr:last-child td {
  border-bottom: 0;
}
.combo table:nth-child(4) td:first-child {
  width: 20%;
}
.combo table:nth-child(4) td:last-child {
  width: 40%;
  font-size: 0.8rem;
}
.combo span:nth-child(3) {
  position: absolute;
  left: 5px;
  cursor: default;
  font-family: initial;
  user-select: none;
  cursor: pointer;
}
.combo svg {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  left: 20px;
  cursor: pointer;
  z-index: 9;
}
.combo .jtree {
  position: absolute;
  top: 0;
  right: 400px;
  width: 350px;
  height: 310px;
  font-size: 0.9rem;
  overflow-x: scroll;
  border: 1px solid #e3e3e3;
  background: #ffffd3;
  transition: width 50ms;
}
.combo .jtree small {
  font-size: 0.67rem;
  color: #b3b3b3;
}
.combo .jtree.jstree.jstree-default > ul.jstree-container-ul > * li.jstree-node > a.jstree-anchor > i.jstree-themeicon {
  display: none;
}
.combo .jtree.jstree.jstree-default > ul.jstree-container-ul > li:nth-last-child(2) > a.jstree-anchor > i.jstree-themeicon {
  display: none;
}
.combo .jtree.jstree.jstree-default > ul.jstree-container-ul > li:last-child > a.jstree-anchor > i.jstree-themeicon {
  display: none;
}
.combo .jtree.jstree.jstree-default.jstree-rtl .jstree-anchor > .jstree-themeicon {
  margin-right: -2px;
}
.combo .jtree.slide {
  width: 0;
  border-left: none;
  border-right: none;
  overflow: hidden;
}
.combo .query {
  background: #ffffbf;
}
