body {
	font-family: "Segoe UI";
}

$input-width: 500px;
$border-color: #b0b0b0;

.combo {
	*, *::before, *::after { box-sizing: border-box; }
	z-index: 999;
	width: $input-width;
	position: relative; 
	> input:first-child {
		position: absolute;
		width: 100%;
		font-family: "Segoe UI";
		padding-left: 20px;
		&:valid { padding-left: 35px; } // making room for xBtn
	}
	
	> ul:nth-child(4) {
		position: absolute;
		top: 8px;
		width: 100%;
		height: 80vh;
		overflow-y: scroll;
		border: 1px solid $border-color;
		border-top: none;
		list-style: none;
		padding: 0;
		
		> li {
			float: right;
			width: 100%;
			border-width: 0 0 1px;
			border-style: solid;
			border-color: $border-color;
			font-size: 0.9rem;
			&:last-child { border-bottom: 0; }
			> div { float: right; }
			> div:first-child { width: 35%; padding-right: 5px; }
			> div:nth-child(2) { width: 50%; font-size: 0.8rem; line-height: 1.5rem;  }
			> div:last-child { width: 15%; font-size: 0.7rem; line-height: 1.6rem; color: grey; }
		}
	}
	
	> span:nth-child(2) {
		position: absolute;
		left: 20px;
		cursor: default;
		font-family: initial; // over uk
		user-select: none;
		cursor: pointer;
	}
	
	> svg:nth-child(3) {
		position: absolute;
		width: 12px;
		height: 12px;
		top: 6px;
		left: 5px;
		cursor: pointer;
		
		fill: white;
		stroke: black;
		stroke-linejoin: round;
		stroke-width: 5.2px;
	}
	
	.hide  { display: none; }
	.focus { background: #0080ff; }
	.query { background: #ffffbf; line-height: 1.4; }
	
	#jtree {
		position: absolute;
		top: 0;
		right: $input-width;
		width: 380px;
		height: 360px;
		font-size: 0.9rem;
		overflow-y: auto;
		border: 1px solid #e3e3e3;
		background: whitesmoke;
		transition: width 50ms;
		small {
			font-size: 0.67rem;
			color: #b3b3b3;
		}
		
		&.jstree.jstree-default.jstree-rtl .jstree-anchor {
			line-height: 20px;
			> .jstree-themeicon {
				margin-right: -4px;
				margin-left: -2px;
			}
		}
		
		&.slide-off {
			width: 0;
			border-left: none;
			border-right: none;
			overflow: hidden;
		}
	}
}