<!DOCTYPE html>
<html lang="en" dir="rtl"> <!-- fa en-US -->
<head>
	{{{ link-modulepreload }}}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	{{{ link-stylesheet }}}
	<title>Sigman</title>
</head>
<body>
	<table class="uk-table uk-table-hover">
		<tr>
			<th>نماد</th>
			<th>ورود</th>
			<th>تاریخ</th>
			<th>منبع</th>
			<th>رنج خرید - حداقل</th>
			<th>رنج خرید - حداکثر</th>
			<th>هدف اول</th>
			<th>هدف دوم</th>
			<th>حد ضرر اول</th>
			<th>حد ضرر دوم</th>
			<th>زمان</th>
			<th>ریسک</th>
		</tr>
		<tr>
			<td><input type="text" class="uk-input uk-form-small uk-form-width-small" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-small" /></td>
			<td><input type="text" class="uk-input uk-form-small uk-form-width-medium" /></td>
			<td><select class="uk-select uk-form-small uk-form-width-small"><option>asad</option><option>javad</option></select></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /><select class="uk-select uk-form-small uk-form-width-xsmall"><option>روز</option><option>ماه</option></select></td>
			<td><select class="uk-select uk-form-small uk-form-width-xsmall"><option>کم</option><option>زیاد</option><option>متوسط</option></select></td>
		</tr>
	</table>
	
	{{{ script-lib }}}
	
	{{{ script-app }}}
</body>
</html>