<!DOCTYPE html>
<html lang="en"> <!-- fa en-US -->
<head>
	{{{ link-modulepreload }}}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	{{{ link-stylesheet }}}
	<title>Stack4 Boilerplate</title>
</head>
<body>
	<div id="app">
		<div id="comp1"></div>
		<div id="comp2"></div>
	</div>
	
	{{{ script-lib }}}
	
	{{{ script-app }}}
</body>
</html>