<!DOCTYPE html>
<html lang="en" dir="rtl"> <!-- fa en-US -->
<head>
	{{{ link-modulepreload }}}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	{{{ link-stylesheet }}}
	<title>Sigman</title>
</head>
<body>
	<table id="datable" class="uk-table uk-table-hover uk-width-1-1" data-root="datable">
		<tr class="pink lighten-5">
			<th>نماد</th>
			<th>رنج خرید</th>
			<th>تاریخ</th>
			<th>هدف اول</th>
			<th>هدف دوم</th>
			<th>حد ضرر اول</th>
			<th>حد ضرر دوم</th>
			<th>زمان</th>
			<th>ریسک</th>
		</tr>
		<tr>
			<td>
				<!-- <input type="text" class="uk-input uk-form-small" data-els="aweso" /> -->
				<!-- <select data-els="aweso"></select> -->
				<input type="text" class="uk-input" />
				<div class="tree-container"></div>
			</td>
			<td class="buyrange">
				<input type="number" min="1" step="0.1" class="uk-input uk-padding-remove-right" uk-tooltip="title:حداکثر; pos: top" />
				<input type="number" min="1" step="0.1" class="uk-input uk-padding-remove-right" uk-tooltip="title:حداقل; pos: bottom" />
			</td>
			<td class="date">
				<input type="number" min="1" max="31" class="uk-input uk-form-small" uk-tooltip="روز" data-els="date" />
				<input type="number" min="1" max="12" class="uk-input uk-form-small" uk-tooltip="ماه" data-els="date" />
				<input type="number" min="00" max="99" class="uk-input uk-form-small" uk-tooltip="سال" data-els="date" data-year />
			</td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td><input type="number" class="uk-input uk-form-small uk-form-width-xsmall" /></td>
			<td class="w8time">
				<input type="number" class="uk-input uk-form-small" />
				<select class="uk-select uk-form-small">
					<option>روز</option>
					<option>ماه</option>
					<option>سال</option>
				</select>
			</td>
			<td><select class="uk-select uk-form-small uk-form-width-xsmall"><option>کم</option><option>زیاد</option><option>متوسط</option></select></td>
		</tr>
	</table>
	
	{{{ script-lib }}}
	
	{{{ script-app }}}
</body>
</html>